.wraper-form {
    width: 1200px;
    margin: auto;
}
// responsive

@media only screen and (max-width: 46.1875em) {
    .form-wrapper-responsive {
        width: 100%;
        margin-top: 100px;
        padding: 0 20px;
    }
    .wraper-form {
        width: 100%;
    }
}
/*tablet*/
@media only screen and (min-width: 46.25em) and (max-width: 63.9375em) {
    .form-wrapper-responsive {
        width: 100%;
        margin-top: 100px;
    }
    .wraper-form {
        width: 100%;
    }
}
